<ul>
    <li>Matricule: {{ collegue.matricule }}</li>
    <li>Nom: {{ collegue.nom | uppercase}}</li>
    <li>Prénom: {{ collegue.prenom }}</li>
    <li>Date de naissance: {{ collegue.dateDeNaissance | date : "dd/MM/yyyy"}} </li>
    <li *ngIf="!update; else elseEmail">Email: {{ collegue.email }}</li>
    <li *ngIf="!update; else elseBlock">Photo: {{ collegue.photoUrl }}</li>
    <ng-template #elseBlock>Photo url: <input type="text" > </ng-template>
    <ng-template #elseEmail> Email: <input type="text" > </ng-template>
    <button *ngIf="!update; else elseValid" (click)="modifier()">Modifier</button>
    <button *ngIf="!update;" (click)="creer()">Créer</button>
    <ng-template #elseValid> <button>Valider</button></ng-template>
</ul>
